
<div id="my_box_area">
	<div id="box_paginate_area">
<%= render :partial => 'boxes/box_paginate_area' %>
	</div>

	<div class="box" id = "textbox">
		<img src="/images/stock/text.png">
		<%= draggable_element ( "textbox" , :revert => true )%>
	</div>

<% @boxes.each do |box| %>
		
	<div id="<%= box.id.to_s %>" class="box" title ="<%= box.desc %>">

			<img src="<%= box.image.url %>" />
		<%= draggable_element ( box.id.to_s , :revert => true )%>
		
	

	</div>


<% end %>

</div>

	
