<div id="box_paginate_area">
<%= render :partial => 'boxes/box_paginate_area' %>
</div>
<div id="my_box_area">

	<div class="box" id = "textbox">
		<img src="/images/stock/text.png">
		<%= draggable_element ( "textbox" , :revert => true )%>
	</div>

<% @boxes.each do |box| %>
		
	<div id="<%= box.id.to_s %>" class="box" title ="<%= box.desc %>">
		
	
			<% #link_to(image_tag(box.url), box.url, :class => "top_up", :toptions => "shaded = 1, overlayClose = 1")%>
			<%# link_to(image_tag(box.url)) %>
			<img src="<%= box.image.url %>" />
		<%= draggable_element ( box.id.to_s , :revert => true )%>
		
	

	</div>


<% end %>

</div>

	
