<%= form_for @box,:html => { :multipart => true } do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<% if @box.image.url != "/images/original/missing.png"%>
	<div class="form_field">
	
	<%= image_tag @box.image.url, :class => :box%>
		</div>
	<div class="form_field">
	Change Image <%= f.file_field :image %>
  </div>
	<% else %>

	<div class="form_field">
	Upload Image <%= f.file_field :image %>
  </div>
	<% end %>
	<div class="form_field">
		<%= f.label :Description %><br />
		<%= f.text_field :desc%>
	</div>
<div class="form_field">
	 Tags(separate by ,)
	<%= f.text_field :tag_list%>
</div>
  <div class="form_field form_submit">
    <%= f.submit %>
  </div>
<% end %>