
<% content_for :title do %>
<span id="title_text">Public Boxes</span>
<% end %>
<% #box idea: google map%>
<%= render 'box_area'%>
<div class="box">
	<img src="images/icons/pokeball-icon.jpg">
</div>

<div class="box">
	<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" rel="prettyPhoto" title="Flash 10 demo"><img src="/images/icons/youtube-icon.jpg"></a>
</div>

<div class="box">
	<a href="http://www.google.nl" class="tu_iframe_800x600"><img src="/images/icons/pdf-icon.gif"></a>
</div>

<div class="box">
		<a href="http://www.youtube.com/watch?v=rP-2ksWFk4o" rel="fancyvideo"><img src="/images/icons/youtube-icon.jpg"></a>
</div>

<div class="box">
	<% browser_tag ("http://www.google.co.uk", "/images/icons/chrome-icon.jpg")%>
	<a href="http://www.google.co.uk" class="tu_iframe_800x600"><img src="/images/icons/chrome-icon.jpg"></a>
</div>

<div class="box">
	<img src="/images/icons/music-icon.jpg">
</div>

<div class="box">
	<img src="images/icons/pokeball-icon.jpg">
</div>

<div class="box">
		<a href="http://www.youtube.com/watch?v=koILIxzzfEM" class="tu_iframe_800x600"><img src="/images/icons/chrome-icon.jpg"></a>
	             
	            </a>
</div>
</div>
<hr />
<table>
  <tr>
    <th>Public</th>
    <th>Desc</th>
    <th>Oftype</th>
	<th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= box.public %></td>
    <td><%= box.desc %></td>
    <td><%= box.oftype  %></td>
	<td><%= get_username(box.owner) %></td>
    <td><%= link_to 'Show', box %></td>
    <td><%= link_to 'Edit', edit_box_path(box) %></td>
    <td><%= link_to 'Destroy', box, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
