
<% content_for :title do %>
<span id="title_text">Listing boxes</span>
<% end %>

<div id="box_area">
<div class="box">
	<img src="/images/icons/chrome-icon.jpg">
</div>

<div class="box">
	<img src="/images/icons/music-icon.jpg">
</div>

<div class="box">
	<img src="/images/icons/pdf-icon.gif">
</div>

<div class="box">
	<img src="images/icons/pokeball-icon.jpg">
</div>

<div class="box">
	<img src="/images/icons/chrome-icon.jpg">
</div>

<div class="box">
	<img src="/images/icons/music-icon.jpg">
</div>

<div class="box">
	<img src="images/icons/pokeball-icon.jpg">
</div>

<div class="box">
	<img src="images/icons/firefox-icon.jpg">
</div>
</div>
<hr />
<table>
  <tr>
    <th>Public</th>
    <th>Desc</th>
    <th>Oftype</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= box.public %></td>
    <td><%= box.desc %></td>
    <td><%= box.oftype %></td>
    <td><%= box.url %></td>
    <td><%= link_to 'Show', box %></td>
    <td><%= link_to 'Edit', edit_box_path(box) %></td>
    <td><%= link_to 'Destroy', box, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
