<p id="notice"><%= notice %></p>

<%= image_tag @box.image.url, :title => "hello"%>

<p>
  <b>Public:</b>
  <%= @box.public %>
</p>

<p>
  <b>Desc:</b>
  <%= @box.desc %>
</p>

<p>
  <b>Oftype:</b>
  <%= @box.oftype %>
</p>

<p>
  <b>Url:</b>
  <%= @box.url %>
</p>

<h2>Comments</h2>

<%= render :partial => "comments/comment",
			:collection => @box.comments %>

<h2>Add a comment:</h2>

<%= render "comments/form" %>


<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
