<div id="post_collection">

<% date = DateTime.now%>
<span id="title_text_large">Posts - <%= date.strftime("%B") %> <%= date.year%> </span>
<div id="paginate"><%= will_paginate @posts%>
<br />
<br />
<hr />
<br />
	
<div class ="mybox_me">
	<%= link_to "Add", new_post_path%>
	<%= link_to image_tag ("/images/stock/Add.png"),new_post_path %>
	<span class="box_options"> + </span>
</div>
<% @posts.each do |post| %>
		
		<% if post.boxes.first.respond_to?('image')%>
		<div class="mybox_me">
				<span class="box_options"><%= link_to "Delete", post_path(post), :method => "delete"%></span>
		<%= link_to image_tag (post.boxes.first.image.url), post_path(post), :title => post.tag_list%>	
				<span class="box_options"><%= link_to "Edit", edit_post_path(post) %></span>
	
				</div>
		<% end%>
	
<%end %>
</div>

