<div id="post_collection">
<span id="title_text_green">Posts
	
	</span>
<div class ="mybox">
	<%= link_to "Add", new_post_path%>
	<%= link_to image_tag ("/images/stock/Add.png"),new_post_path %>
	<span class="box_options"> + </span>
</div>
<% @posts.each do |post| %>
		
		<% if post.boxes.first.respond_to?('image')%>
		<div class="mybox green">
				<span class="box_options"><%= link_to "Delete", post_path(post), :method => "delete"%></span>
		<%= link_to image_tag (post.boxes.first.image.url), edit_post_path(post), :title => post.description%>	
				<span class="box_options"><%= link_to "View", post_path(post) %></span>
	
				</div>
		<% end%>
	
<%end %>
</div>