<%= title("View Post")%>
<p id="notice"><%= notice %></p>

<div id="view_page">
	<div id="post_title_text"><%=@post.title%></div>
		<div id="post_tags_text">Tags:
		<%@post.tag_list.each do |tag|%>
			 <span class="highlight_red"><%= link_to tag, searches_path(:search => tag)%></span>
		<% end %>
		</div>

<%@post.boxes.each do |box|%>
	<% if box.oftype == "image"%>
		<%= image_tag box.image.url%>
	<% elsif box.oftype == "text" %>
		<div class="viewspace_text">
			<%= box.desc%>
		</div>
	<% end %>
<% end %>


</div>
<div id="comment_area">
<%@post.comments.each do |comment| %>
	<div class="comment">
	<% if !comment.user_id.nil? %>
		<span class="username">(<%=comment.created_at.to_formatted_s(:short) %>) <%= get_username(comment.user_id).capitalize%>: </span>
	<% end %>
	 <%=comment.body%>
		<% if current_user.id == comment.user_id%>
			<%=link_to "delete", [comment.post, comment], :confirm => "Are you sure?", :method => :delete%>
		<% end %>
		</div>
<% end %> 
<div id="comment_box">
<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>

  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

</div>