<!DOCTYPE html>
<html>
<head>
  <title>Blox</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>

<%# javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js" %>
  <%# csrf_meta_tag %>
</head>
<body> 
	
	<div id="container">
	<div id="menu_strip">
	<div id="user_nav">
			
		<ul>
			<%= yield :title %>
			<li><%= link_to "Tags", searches_path %>
			<li><%= link_to "Items", my_boxes_path %>
			<li><%= link_to "Posts", new_post_path %>
		
		
							<li class="search_box"><% form_tag searches_path, :method => 'get' do %> <%= search_field_tag :search %><%= submit_tag "Search"%>
									<% end %></li>
										<li class="logout_box">	<% if current_user %>
											    <%= link_to "Log out", log_out_path %><li>
		

		  <% else %>
		    <%= link_to "Sign up", sign_up_path %> or
		    <%= link_to "log in", log_in_path %>
		  <% end %>
		</ul>
		</div>
	</div>
	

	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	
<%= yield %>
	</div>
</body>
</html>
